

*{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.col-auto a{
    color: white;
}
.bg-img {
    background-image: url('./assets/fabian-bachli-DTiFp_p07KY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; */
    color: white;
}
.hero-section-div{
    text-align: left;
    /* display: flex; */
    
    padding-top: 25vh;
    
}
.button-1{
    /* display: inline-block; */
    padding: 5px 10px;
    margin-right: 10px;
    /* border-radius: none; */
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    border: none;

}


/* Custom colors */
.button1.primary {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid white;
}
.button-1.secondary {
    border-color: white;
    background-color: #6c757d00;
    border: 1px solid white;
    color: white;
}

/* Custom icon styles */
.custom-icon {
    margin-left: 5px;
    margin-right: 5px;
}
.hero-section-div .hero-heading2{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.text-decoration-none.timeline-item{
    color: black;
    
}
/* .timeline-btn{
    padding-top: 10vh;
    
    border-bottom: 1px solid black;
} */
.timeline-underline{
    border-bottom: 2px solid red;
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid grey;  */
    border-bottom: 1px solid black;
}

.timeline-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin-bottom: -1px; /* Ensure bottom border touches adjacent buttons */
}

.timeline-btn.active {
    border-bottom: 1px solid black;
}
.timeline-items{
    padding-top: 10vh;

    
}

.button-2{
    /* display: inline-block; */
    /* padding: 5px 50px; */
    /* margin-right: 10px; */
    /* border-radius: none; */
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    border: none;
    background-color: white;
    font-weight: 600;
}
.hero-section2-img{
    background-image: url('./assets/ld-SSsBtOdocug-unsplash.jpg');
    background-size: cover;
    /* background-repeat: no-   repeat; */

}
.hero-section-div1{
padding-top: 15vh;
}

.button-3{
    /* display: inline-block; */
    padding: 5px 10px;
    margin-right: 10px;
    /* border-radius: none; */
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    border: none;

}
.button-3.primary1{
    background-color: black;
    color: white;

}
.button-3.secondary1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgba(132, 132, 132, 0.368);

}
.hero-section2{
    padding-top: 15vh;
}
.button-4{
    padding: 5px 10px;
    margin-right: 10px;
    /* border-radius: none; */
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    border: none;
    background-color: white;
}
.button-5{
    padding: 5px 10px;
    margin-right: 10px;
    /* border-radius: none; */
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    border: none;
}